<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='css/dashboard.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/output.css') }}>
	<title>Dashboard - Kleen and Spotless</title>
</head>
<body>


	<!-- SIDEBAR -->
	{% include "components/sidebar.html" %}
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- HEADER -->
		{% include "components/header.html" %}
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						{% if total_bookings %}
							<h3>{{ "{:,}".format(total_bookings) }}</h3>
						{% else %}
							<h3>2,231</h3>
						{% endif %}
						<p class="text-xs md:text-sm">Bookings</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						{% if total_clients %}
							<h3>{{ "{:,}".format(total_clients) }}</h3>
						{% else %}
							<h3>2,231</h3>
						{% endif %}
						<p class="text-xs md:text-sm">Clients</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						{% if paid_bookings %}
							<h3>{{ "${:,.3f}".format(paid_bookings) }}</h3>
						{% else %}
							<h3>$3,543</h3>
						{% endif %}
						<p class="text-xs md:text-sm">Paid Bookings</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						{% if unpaid_bookings %}
							<h3>{{ "${:,.3f}".format(unpaid_bookings) }}</h3>
						{% else %}
							<h3>$2,543</h3>
						{% endif %}
						<p class="text-xs md:text-sm">Unpaid Bookings</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Bookings</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table class="w-full whitespace-no-wrap table-auto">
						<thead>
							<tr>
								<th class="text-xs md:text-sm">Booking ID</th>
								<th class="text-xs md:text-sm">Service</th>
								<th class="text-xs md:text-sm">Email</th>
								<th class="text-xs md:text-sm">Cleaning Date</th>
								<th class="text-xs md:text-sm">Price</th>
								<th class="text-xs md:text-sm">Status</th>
							</tr>
						</thead>
						<tbody>
							{% if bookings %}
							    {% for booking in bookings %}
							        <tr>
								        <td>
									        <!--<img src={{ url_for('static', filename='image/people.png') }}>-->
									        <p class="whitespace-nowrap">{{ booking.booking_id }}</p>
								        </td>
								        <td class="text-xs md:text-sm whitespace-nowrap">{{ booking.service }}</td>
								        <td class="text-xs md:text-sm whitespace-nowrap">{{ booking.client_email }}</td>
								        <td class="text-xs md:text-sm whitespace-nowrap">{{ booking.cleaning_date }}</td>
								        <td class="text-xs md:text-sm whitespace-nowrap">{{ "${:,.2f}".format(booking.price) }}</td>
								        <td class="text-xs md:text-sm whitespace-nowrap"><span class="status completed">{{ booking.payment_status }}</span></td>
							        </tr>
							    {% endfor %}
							{% else %}
							<tr>
								<td>
									<img src={{ url_for('static', filename='image/people.png') }}>
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src={{ url_for('static', filename='image/people.png') }}>
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status process">Process</span></td>
							</tr>
							<tr>
								<td>
									<img src={{ url_for('static', filename='image/people.png') }}>
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src={{ url_for('static', filename='image/people.png') }}>
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completed</span></td>
							</tr>
						    {% endif %}
						</tbody>
					</table>
				</div>
				<div class="todo">
					<div class="head">
						<h3>Upcoming</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src={{ url_for('static', filename='js/accounts/dashboard.js') }}></script>
</body>
</html>